<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8"/>
  <meta name="description" content="Muscle Manager is a new Generation workout tool, designed to help you succeed."/>
  <meta name="keywords" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

  <!-- Links to script, css, and other -->
  <link rel="icon" href="">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <title>MuscleManager | Home</title>
</head>

<body>
    <header>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/">Category 1</a></li>
        <li class="divider"></li>
        <li><a href="/">Category 2</a></li>
        <li class="divider"></li>
        <li><a href="/">Category 3</a></li>
      </ul>
      <ul id="mobiledropdown" class="dropdown-content">
        <li><a href="/">Category 1</a></li>
        <li class="divider"></li>
        <li><a href="/">Category 2</a></li>
        <li class="divider"></li>
        <li><a href="/">Category 3</a></li>
      </ul>
      <div id="1">
        <nav class="black nav-down">
          <div class="nav-wrapper">
            <a id="logo-container" class="brand-logo valign-wrapper" href="/"><img src="" alt=""></a>
            <ul class="right hide-on-med-and-down">
              <li class="activated"><a href="index">Home</a></li>
              <li><a href="login">Login</a></li>
              <li><a href="">How To Use</a></li>
              <li><a class="dropdown-trigger" data-target="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="">FAQ</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav grey lighten-2">
              <li><a href="index">Home</a></li>
              <li><a href="login">Login</a></li>
              <li><a href="/">How To Use</a></li>
              <li><a class="dropdown-button" data-target="mobiledropdown" data-beloworigin="true">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="/">FAQ</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger valign-wrapper"><i class="material-icons white-text">menu</i></a>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div id="index_1" class="parallax-container">
        <div class="section no-pad">
          <div class="container">
            <br><br>
            <h1 class="header center black-text">Muscle Manager</h1>
            <div class="row center">
              <h5 class="header col s12 light black-text">A New Way to Workout</h5>
            </div>
            <br><br>
          </div>
        </div>
        <div id="scrolldownarrow" class="container">
          <div class="row center">
            <a><i id="scrollbtn1" class="material-icons md-48" >arrow_downward</i></a>
          </div>
        </div>
        <div class="parallax"><img src="img/workout.jpg" alt="MM Workout"></div>
      </div>

      <div class="container valign-wrapper" id="scrollabout">
        <div class="section">

          <div class="row">
            <h2 class="center">What is Muscle Manager?</h2>
          </div>
          <div id="aboutPMD" class="row">
            <p class="col s12 m12 l10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et tenetur nulla, debitis mollitia id distinctio qui. In deleniti, reprehenderit delectus mollitia perspiciatis odio magni nulla adipisci natus dolor, enim hic quia ea autem ipsum numquam
               laudantium error labore architecto perferendis vero id quasi! Odio neque dolores numquam asperiores unde voluptates. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia iusto iure maiores corporis, dolores amet natus doloremque nostrum quidem repellendus
                maxime, animi ipsum qui. Est quidem nesciunt inventore deserunt tempora quia pariatur dolor assumenda, nisi, dignissimos accusantium voluptatem possimus laboriosam expedita, facilis. Beatae eius dolores, accusamus, voluptatibus architecto minima placeat.</p>
            <a id="aboutPMDBtn" href="/" class="col s8 m8 l1 btn-large waves-effect waves-light grey darken-4"><i class="material-icons">subdirectory_arrow_right</i></a>
          </div>
        </div>

      </div>

      <div id="index_2" class="container">
        <div id="video_1" class="row">
          <div class="video-container z-depth-2 hoverable">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7kbSfFFEvxw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="row center">
          <div class="container">
            <a><i id="scrollbtn2" class="material-icons md-48" >arrow_downward</i></a>
          </div>
        </div>
      </div>

      <div class="parallax-container valign-wrapper">
        <div class="parallax"><img src="img/barbell.jpg" alt="Barbell"></div>
      </div>

      <div class="row currentproj z-depth-4">
        <h2 class="center grey-text text-lighten-2">Features</h2>
      </div>
      <div class="container" id="index_3">
        <div class="section">
          <div class="row">
            <div class="col s12 m4 desc animate desktop">
              <div class="icon-block">
                <h2 class="center brown-text"><img style="width: 30%;" class="black-text" src="img/location.png" alt=""></h2>
                <h5 class="center">Use Anytime, Anywhere</h5>

                <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim itaque repellendus aut laboriosam, ipsa, explicabo. Aut optio, rem expedita cum iste aliquam placeat repudiandae ullam iure deleniti numquam eius tenetur.</p>
              </div>
            </div>

            <div class="col s12 m4 desc animate desktop">
              <div class="icon-block">
                <h2 class="center brown-text"><img style="width: 30%;" class="black-text" src="img/cursor.png" alt=""></h2>
                <h5 class="center">Easy to Learn</h5>

                <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit, repellendus, amet! Repudiandae quaerat, culpa illo ullam fugit nemo numquam, eos voluptate deleniti, magnam quo mollitia deserunt magni quis.</p>
              </div>
            </div>

            <div class="col s12 m4 desc animate desktop">
              <div class="icon-block">
                <h2 class="center brown-text"><img style="width: 30%;" class="black-text" src="img/up.png" alt=""></h2>
                <h5 class="center">Keep Progress</h5>

                <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero iste totam repellat ex ullam, ipsa iusto maiores minima ut sit quibusdam eum impedit animi neque aperiam atque incidunt! Dolor.
                </p>
              </div>
            </div>
          </div>
          <div id="indexprojs" class="row">
            <div class="col s12 m4">
              <div class="animate mobile">
                <div class="icon-block">
                  <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                  <h5 class="center">Start Now</h5>

                  <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam deleniti, dolor officiis voluptatum, cum natus quaerat quisquam, fugiat debitis suscipit modi. Explicabo assumenda voluptate nam a odio nostrum voluptatibus perferendis, dolor quis saepe, iste cum! Aliquam commodi, explicabo enim porro.</p>
                </div>
              </div>
              <a href="./zta">
                <figure class="sadie z-depth-2 hoverable">
                  <img src="img/start.jpg" alt="">
                  <figcaption>
                    <h4>START <span>NOW</span></h4>
                    <p>Click here to sign up and get started</p>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col s12 m4">
              <div class="animate mobile">
                <div class="icon-block">
                  <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                  <h5 class="center">Our Features</h5>

                  <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio aut iure accusantium consectetur repudiandae, autem labore nihil illum veritatis beatae modi blanditiis, tempora architecto eum voluptatem dolorem tenetur ex aliquid.</p>
                </div>
              </div>
              <a href="./neutech">
                <figure class="sadie z-depth-2 hoverable">
                  <img src="img/features.jpg" alt="">
                  <figcaption>
                    <h4>OUR <span>FEATURES</span></h4>
                    <p>Click here to read about the features of muscle manager</p>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="col s12 m4">
              <div class="animate mobile">
                <div class="icon-block">
                  <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                  <h5 class="center">Have Questions?</h5>

                  <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium fugiat, sit voluptas vitae hic optio voluptatibus iusto itaque sapiente animi. Voluptas sed earum odit assumenda dolorem eius repudiandae eaque nemo suscipit non animi, cupiditate nulla!
                  </p>
                </div>
              </div>
              <a href="./viper_engine">
                <figure class="sadie z-depth-2 hoverable">
                  <img src="img/questions.jpg" alt="">
                  <figcaption>
                    <h4>HAVE <span>QUESTIONS?</span></h4>
                    <p>Click here to read about some frequently asked questions</p>
                  </figcaption>
                </figure>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="page-footer grey darken-4">
      <div class="container">
        <div class="row">
          <div id="footerContact" class="col s12 l6">
            <h5 class="white-text">Muscle Manager</h5><br>
            <div class="col s12 m6 l12 valign-wrapper leftfootericon"><i class="material-icons">contact_phone</i>&nbsp; (222)-222-222 &nbsp;</div>
            <div class="col s12 m6 l12 valign-wrapper rightfootericon"><i class="material-icons">contact_mail</i>&nbsp; &nbsp;info@musclemanager.com &nbsp;</div>
          </div>
          <div class="col l3 s4 offset-s1">
            <h5 class="white-text">Navigation</h5>
            <ul id="footernav">
              <li><a class="white-text hovercolor" href="index">Home</a></li>
              <li><a class="white-text hovercolor" href="login">Login</a></li>
              <li><a class="white-text hovercolor" href="/">How To Use</a></li>
              <li><a class="white-text hovercolor" href="/">FAQ</a></li>
            </ul>
          </div>
          <div class="col l3 s4 offset-s2">
            <h5 class="white-text">Social Media</h5>
            <ul>
              <li><a class="white-text hovercolor valign-wrapper" href=""><img src="img/social_media/facebook.svg" alt="">&nbsp; Facebook</a></li>
              <li><a class="white-text hovercolor valign-wrapper" href=""><img src="img/social_media/instagram.svg" alt="">&nbsp; Instagram</a></li>
              <li><a class="white-text hovercolor valign-wrapper" href="#!"><img src="img/social_media/linkedin.svg" alt="">&nbsp; LinkedIn</a></li>
              <li><a class="white-text hovercolor valign-wrapper" href="#!"><img src="img/social_media/twitter.svg" alt="">&nbsp; Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright black">
        <div class="container valign-wrapper">
          <i class="material-icons">copyright</i>&nbsp; Copyright &nbsp;<span class="grey-text lighten-3"> Muscle Manager LLC.</span>
        </div>
      </div>
    </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="js/modernizr.js"></script>
  <script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <script src="js/init.js"></script>

</body>

</html>
