<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta Tags -->
  <meta charset="UTF-8"/>
  <meta name="description" content="Muscle Manager is a new Generation workout tool, designed to help you succeed."/>
  <meta name="keywords" content=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

  <!-- Links to script, css, and other -->
  <link rel="icon" href="">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <title>MuscleManager | Home</title>
</head>

<body>
    <header>
      <ul id="dropdown1" class="dropdown-content">
        <li><a href="/">Category 1</a></li>
        <li class="divider"></li>
        <li><a href="/">Category 2</a></li>
        <li class="divider"></li>
        <li><a href="/">Category 3</a></li>
      </ul>
      <ul id="mobiledropdown" class="dropdown-content">
        <li><a href="/">Category 1</a></li>
        <li class="divider"></li>
        <li><a href="/">Category 2</a></li>
        <li class="divider"></li>
        <li><a href="/">Category 3</a></li>
      </ul>
      <div id="1">
        <nav class="black nav-down">
          <div class="nav-wrapper">
            <a id="logo-container" class="brand-logo valign-wrapper" href="index"><img src="" alt=""></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="index">Home</a></li>
              <li class="activated"><a href="login">Login</a></li>
              <li><a href="/">How To Use</a></li>
              <li><a class="dropdown-trigger" data-target="dropdown1">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="/">FAQ</a></li>
            </ul>

            <ul id="nav-mobile" class="sidenav grey lighten-2">
              <li><a href="index">Home</a></li>
              <li><a href="login">Login</a></li>
              <li><a href="/">How To Use</a></li>
              <li><a class="dropdown-button" data-target="mobiledropdown" data-beloworigin="true">Categories<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="/">FAQ</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger valign-wrapper"><i class="material-icons white-text">menu</i></a>
          </div>
        </nav>
      </div>
    </header>

    <main>
      <div class="white-text black padding z-depth-2" style="z-index:1000;"></div>
      <div class="row" style="height: 60vh; margin-top: 4%;">
        <div class="center-align" style="padding-bottom: 2vh;" th:if="${param.error}">
          Invalid username and password.
        </div>
        <div class="center-align" style="padding-bottom: 2vh;" th:if="${param.logout}">
          You have been logged out.
        </div>
        <div id="contactFillout" class="container aboutrow" style="width: 50%; background-color: #E6E6E6">
          <form id="signin" th:action="@{/login}" method="post">
            <div class="section row">
              <div class="input-field col s12">
                <input id="username" name="username" type="text" required="true">
                <label for="username">User Name:</label>
                <span class="helper-text" data-error="Enter Your Username" data-success="">Please enter your Username</span>
              </div>
              <div class="input-field col s12">
                <input id="password" name="password" type="password" required="true">
                <label for="password">Password:</label>
                <span class="helper-text" data-error="Invalid Password" data-success="">Please enter your Password</span>
              </div>
            </div>
            <div class="col s12 l6">
              <span><a href="registration">Don't have an account? Sign up here.</a></span>
            </div>
            <div class="col s12 l6">
              <button id="login_submit" class="grey darken-2 btn waves-effect waves-light right disabled" type="submit" form="signin" name="action" style="margin-bottom: 5%;">Sign In
                <i class="material-icons right">send</i>
              </button>
          </form>
        </div>
      </div>
    </main>

    <footer class="page-footer grey darken-4">
      <div class="container">
        <div class="row">
          <div id="footerContact" class="col s12 l6">
            <h5 class="white-text">Muscle Manager</h5><br>
            <div class="col s12 m6 l12 valign-wrapper leftfootericon"><i class="material-icons">contact_phone</i>&nbsp; (222)-222-222 &nbsp;</div>
            <div class="col s12 m6 l12 valign-wrapper rightfootericon"><i class="material-icons">contact_mail</i>&nbsp; &nbsp;info@musclemanager.com &nbsp;</div>
          </div>
          <div class="col l3 s4 offset-s1">
            <h5 class="white-text">Navigation</h5>
            <ul id="footernav">
              <li><a class="white-text hovercolor" href="index">Home</a></li>
              <li><a class="white-text hovercolor" href="login">Login</a></li>
              <li><a class="white-text hovercolor" href="/">How To Use</a></li>
              <li><a class="white-text hovercolor" href="/">FAQ</a></li>
            </ul>
          </div>
          <div class="col l3 s4 offset-s2">
            <h5 class="white-text">Social Media</h5>
            <ul>
              <li><a class="white-text hovercolor valign-wrapper" href=""><img src="img/social_media/facebook.svg" alt="">&nbsp; Facebook</a></li>
              <li><a class="white-text hovercolor valign-wrapper" href=""><img src="img/social_media/instagram.svg" alt="">&nbsp; Instagram</a></li>
              <li><a class="white-text hovercolor valign-wrapper" href="#!"><img src="img/social_media/linkedin.svg" alt="">&nbsp; LinkedIn</a></li>
              <li><a class="white-text hovercolor valign-wrapper" href="#!"><img src="img/social_media/twitter.svg" alt="">&nbsp; Twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright black">
        <div class="container valign-wrapper">
          <i class="material-icons">copyright</i>&nbsp; Copyright &nbsp;<span class="grey-text lighten-3"> Muscle Manager LLC.</span>
        </div>
      </div>
    </footer>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="js/modernizr.js"></script>
  <script src="node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <script src="js/init.js"></script>


</body>

</html>
