<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8"/>
    <meta name="description" content="Muscle Manager is a new Generation workout tool, designed to help you succeed."/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>

    <!-- Links to script, css, and other -->
    <link rel="icon" href="">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title>MuscleManager | Start</title>
</head>

<body>
<header>
    <div id="1">
        <nav class="black nav-down">
            <div class="nav-wrapper">
                <a id="logo-container" class="brand-logo valign-wrapper" href="/"><img src="" alt=""></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="../users/index">Home</a></li>
                    <li><a href="../users/profile">Profile</a></li>
                    <li class="activated"><a href="/workouts/start">Get Started</a></li>
                    <li><form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                    </form></li>
                </ul>

                <ul id="nav-mobile" class="sidenav grey lighten-2">
                    <li><a href="../users/index">Home</a></li>
                    <li><a href="../users/profile">Profile</a></li>
                    <li><a href="/workouts/start">Get Started</a></li>
                    <li><form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                    </form></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger valign-wrapper"><i class="material-icons white-text">menu</i></a>
            </div>
        </nav>
    </div>
</header>

<main>
    <div class="white-text black padding z-depth-2" style="z-index:1000;"></div>
    <div class="container" style="overflow: inherit; height: 150vh; ">
        <h1 class="center">Let's get started!</h1>
        <div class="container">
            <div class="row center" style="margin-top: 5vh;">
                <div class="col s6">
                    <h4>Workout Name:</h4>
                </div>
                <div class="col s6">
                    <p th:text="${workout.name}"></p>
                </div>
            </div>
            <div class="row center" style="margin-top: 5vh;">
                <div class="col s6">
                    <h4>Workout Description:</h4>
                </div>
                <div class="col s6" style="overflow: scroll;">
                    <p th:text="${workout.text}"></p>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    <br><br><span style="padding-top: 5vh;">Recommended Reps:  <span th:text="${workout.recReps}"></span></span><br><br><br>
                    <span style="padding-top: 5vh;">Recommended Sets:  <span th:text="${workout.recSets}"></span></span><br>
                    <a style="margin-top: 20vh;" class="waves-effect waves-light btn-large red lighten-2" href="../workouts/start"><i class="material-icons left">directions_run</i>Skip Workout</a>
                </div>
                <div class="col s6">
                    <form id="startworkout" role="form" method="POST" th:action="@{/workouts/start}" th:object="${userWorkout}">
                        <div class="row">
                            <div class="col s12 m6">
                                <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
                                </div>
                            </div>
                        </div>
                        <div class="section row">
                            <input style="display: none;" type="text" name="workoutId" th:field="*{workoutId}" th:value="${workout.id}" />
                            <div class="input-field col s12">
                                <input id="repsComplete" th:field="*{repsComplete}" name="repsComplete" type="text" required="true">
                                <label for="repsComplete">Number of reps completed:<git /label>
                                <span class="helper-text" data-error="Enter sets completed" data-success="">Enter number of reps completed per set</span>
                            </div>
                            <div class="input-field col s12">
                                <input id="setsComplete" th:field="*{setsComplete}" name="setsComplete" type="text" required="true">
                                <label for="setsComplete">Number of sets completed:</label>
                                <span class="helper-text" data-error="Enter sets completed" data-success="">Enter number of sets completed</span>
                            </div>
                            <div class="input-field col s12">
                                <input id="weight" th:field="*{weight}" name="weight" type="text" required="true">
                                <label for="weight">Weight Used:</label>
                                <span class="helper-text" data-error="Enter weight used" data-success="">Enter the weight used in the exercise</span>
                            </div>
                        </div>
                        <div class="col s12 l6">
                            <button id="workout_submit" class="grey darken-2 btn waves-effect waves-light center" type="submit" form="startworkout" name="action" style="margin-bottom: 5%;">Complete
                                <i class="material-icons right">fitness_center</i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div id="footerContact" class="col s12 l6">
                <h5 class="white-text">Muscle Manager</h5><br>
                <div class="col s12 m6 l12 valign-wrapper leftfootericon"><i class="material-icons">contact_phone</i>&nbsp; (222)-222-222 &nbsp;</div>
                <div class="col s12 m6 l12 valign-wrapper rightfootericon"><i class="material-icons">contact_mail</i>&nbsp; &nbsp;info@musclemanager.com &nbsp;</div>
            </div>
            <div class="col l3 s4 offset-s1">
                <h5 class="white-text">Navigation</h5>
                <ul id="footernav">
                    <li><a class="white-text hovercolor" href="">Home</a></li>
                    <li><a class="white-text hovercolor" href="/">Login</a></li>
                    <li><a class="white-text hovercolor" href="/">How To Use</a></li>
                    <li><a class="white-text hovercolor" href="/">FAQ</a></li>
                </ul>
            </div>
            <div class="col l3 s4 offset-s2">
                <h5 class="white-text">Social Media</h5>
                <ul>
                    <li><a class="white-text hovercolor valign-wrapper" href=""><img src="../img/social_media/facebook.svg" alt="">&nbsp; Facebook</a></li>
                    <li><a class="white-text hovercolor valign-wrapper" href=""><img src="../img/social_media/instagram.svg" alt="">&nbsp; Instagram</a></li>
                    <li><a class="white-text hovercolor valign-wrapper" href="#!"><img src="../img/social_media/linkedin.svg" alt="">&nbsp; LinkedIn</a></li>
                    <li><a class="white-text hovercolor valign-wrapper" href="#!"><img src="../img/social_media/twitter.svg" alt="">&nbsp; Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright black">
        <div class="container valign-wrapper">
            <i class="material-icons">copyright</i>&nbsp; Copyright &nbsp;<span class="grey-text lighten-3"> Muscle Manager LLC.</span>
        </div>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="../js/modernizr.js"></script>
<script src="../node_modules/materialize-css/dist/js/materialize.min.js"></script>
<script src="../js/init.js"></script>

</body>

</html>
